body {
    background-color: rgb(251, 240, 222);
}

main {
    width: 98%;
    background-color: rgb(249, 219, 173);
    margin: 0 auto;
}

header {
    text-align: center;
}

header h1{
    border: 2px rgb(83, 76, 3) solid;
    font-size: 300%;
    margin-top: 0px;
    /* margin-bottom: 0px; */
}

header p {
    font-size: 150%;
    border: 2px rgb(83, 76, 3) solid;
}


img {
    display: block;
    box-shadow: rgb(135, 131, 124) 0px 5px 5px 2px;
}


#fig-div {
    margin: auto;
    width: 96%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
}

#fig-div img {
    margin: 18px 0;
    width: 20%;
    height: auto;
    max-width: 100%;
    border-radius: 17%;
}

#fig-div #image-3 {
    width: 40%;
}

#fig-div1 img {
    margin: 18px auto;
    width: 40%;
    height: auto;
    max-width: 100%;
    border-radius: 70px;
}

#img-div {
    margin: 0 auto;
    width: 96%;
    height: auto;
    background-color: rgb(234, 177, 92);
}

figcaption {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 11px;
}

h2 {
    text-align: center;
}

h3 {
    margin: 20px;
    display: flex;
    justify-content: center;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 22px 0;
    width: 60%;
}

section li {
    margin-bottom: 14px;
}

article {
    width: 95%;
    margin: 0 auto;
}

a {
    color: rgb(41, 152, 149);
}