body {
    background-color: rgb(251, 240, 222);
}

main {
    width: 98%;
    background-color: rgb(249, 219, 173);
    margin: 0 auto;
}

header {
    text-align: center;
}

header h1{
    font-size: 100px;
    margin-bottom: 2px;
}

header p {
    font-size: 40px;
}

img {
    display: block;
    box-shadow: rgb(135, 131, 124) 0px 5px 5px 2px;
}

#fig-div {
    width: 96%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* justify-content: space-between; */
}

#fig-div img {
    margin: 18px 10px;
    width: 550px;
    height: auto;
    max-width: 100%;
    border-radius: 70px;
}

#fig-div1{
    display: flex;
    justify-content: center;
    /* border: 2px solid salmon; */
}

#fig-div1 img {
    margin: 18px 0;
    width: 800px;
    height: auto;
    max-width: 100%;
    border-radius: 70px;
}

#img-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 96%;
    height: auto;
    background-color: rgb(252, 209, 144);
}

figcaption {
    /* border: 2px solid sandybrown; */
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 11px;
}

h2 {
    text-align: center;
}

h3 {
    margin: 20px;
    /* border: 2px solid sandybrown; */
    display: flex;
    justify-content: center;
}

section {
    /* border: 2px solid sienna; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 22px 0;
    width: 60%;
}

section li {
    margin-bottom: 14px;
}

article {
    width: 95%;
    margin: 0 auto;
    /* border: 2px solid saddlebrown; */
}

a {
    color: rgb(41, 152, 149);
}